/* Common */
h1 {
  font-size: 1.9rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 0.5rem 0;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #0a7eb4;
  color: #ffff55;
  font-weight: bold;
  padding: 0 1rem;
}
main {
  grid-area: main;
  padding: 1rem;
  background-color: #eff9ff;
}
footer {
  grid-area: footer;
  background-color: #0a7eb4;
  color: #eeeedd;
}
header a:link {
  color: #ffff55;
}
header a:visited {
  color: #fefeee;
}
header a:hover {
  color: #ffff55;
}
header h1 {
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
/* Common */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.central {
  justify-content: center;
}
.outer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.heading {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  padding: 1rem;
  /* margin: 1rem; */
  border: 0.1rem #a0a0a0 solid;
  background-color: #b9dcff;
  border-radius: 0.5rem;
  min-width: 30%;
}
.card-div {
  /* padding: 1rem 1rem; */
  margin: 0;
  border-radius: 0;
  border-bottom: 0;
  border-top: 0.1rem #a0a0a0 dotted;
  /* min-width: 90%; */
}
.card-div:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
  border-top: 0.1rem #a0a0a0 solid;
}
.card-div:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
  border-bottom: 0.1rem #a0a0a0 solid;
}
.card-div a:hover {
  color: #00aa99;
}
.card-div h2 {
  padding-top: 0;
  color: #222222;
}
.card-div article {
  background-color: #fafefb;
  padding: 0.5rem;
  border-radius: 0.1rem;
}
/* Venues */
.venue-list {
  margin-top: 2rem;
  width: 100%;
}
.venue-div {
  font-weight: 400;
}
/* Performances */
.perfs-div {
  font-weight: lighter;
}
.perfs-div span {
  font-weight: bolder;
}
.perfs-div p {
  margin-top: 0.4rem;
}
/* Forms */
/* form {
} */
/* Below is specifically for 'fas fa-plus' button; maybe use for toggling */
/* form button {
  border: none;
  color: #ffffff;
  background-color: #2255cc;
  padding: 0.7rem 0.7rem;
  border-radius: 0 0.3rem 0.3rem 0;
} */
.form-div {
  font-weight: 600;
  color: #222222;
  display: flex;

  margin-bottom: 0.7rem;
}
.form-div input {
  padding: 0.3rem 0.2rem;
  min-width: 60%;
}
.hori-control {
  /* margin: 0.5rem; */
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 0.7rem; */
}
.hori-control input {
  margin-left: 1rem;
}
.hori-control label {
  margin-right: 0.5rem;
}
.vert-control {
  flex-direction: column;
}

/* for form with 'attached' left-side button */
/* border-right: none; */

.submit-btn {
  margin-top: 1rem;
}
/* .form-cluster {
} */
.toggler {
  padding: 0.1rem 0.3rem;
}

.closing-toggle {
  margin-bottom: 1rem;
  font-size: smaller;
}

/* Alert */
.login p {
  font-size: small;
  font-weight: 500;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
