/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #0a7eb4;
  color: #ffff55;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #0a7eb4;
  color: #ffff55;
}
header a:link {
  color: #ffff55;
}
header a:visited {
  color: #e1f3fc;
}
header a:hover {
  color: #ffff55;
}
header h1 {
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.row {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.central {
  justify-content: center;
}
.outer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* Card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.2rem 1.2rem;
  margin: 1rem;
  border: 0.1rem #a0a0a0 solid;
  background-color: #ddeeff;
  border-radius: 0.5rem;
  min-width: 30%;
}

.venue {
  padding: 1rem 1rem;
  min-width: 90%;
}
.venue a:hover {
  color: #00aa99;
}

.title {
  font-size: 3rem;
}
